/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .calculator {
    background: #6083ee;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
  }
  
  .display input {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 10px;
    border: none;
    background: #c4ebd0;
    border-radius: 5px;
    padding: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    height: 50px;
    font-size: 1.2rem;
    background: #ffffff;
    color: #080808;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  button:active {
    background: #003f7f;
  }
  